<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TT_PS"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.RatingActivity"
            android:exported="false"
            android:parentActivityName=".ui.fragments.ActivityListFragment" />
        <activity
            android:name=".ui.view.EditUser"
            android:exported="false" />
        <activity
            android:name=".ui.view.EditActivity"
            android:exported="false" />

        <service
            android:name=".ui.viewmodel.FCMservice"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAG5bI3zDlHWyEJGS5ZPx7r4NYonOypyc8" />

        <activity
            android:name=".ui.view.CreateActivityMap"
            android:exported="false" />
        <activity
            android:name=".ui.view.ActivityCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fragments.ActivityListFragment"
            android:parentActivityName=".ui.view.MainActivity" />
        <activity
            android:name=".ui.view.DetailsActivity"
            android:parentActivityName=".ui.fragments.ActivityListFragment" />
        <activity
            android:name=".ui.view.LogInActivity"
            android:exported="true"
            android:parentActivityName=".ui.view.MainActivity" />
        <activity
            android:name=".ui.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>